# # Development API URL (used when running `npm run dev`)
# NEXT_PUBLIC_API_BASE_URL_DEV=http://localhost:3002/api/v1

# # Production API URL (used when running `npm run build` and `npm start`)
# NEXT_PUBLIC_API_BASE_URL_PROD=http://192.145.237.193/api/v1

# # Optional: Single URL that works for all environments
# NEXT_PUBLIC_API_BASE_URL=http://192.145.237.193/api/v1

# # Logo Configuration
# # NEXT_PUBLIC_LOGO_MAIN=/logo/Logo-vitrine-fundo-transparente.png
# # NEXT_PUBLIC_LOGO_WHITE=/logo/Logo-vitrine-fundo-transparente-monocromatico-branco.png
# # NEXT_PUBLIC_FAVICON=/logo/Favicon-logo-vitrine.png
# NEXT_PUBLIC_BRAND_NAME=Vitrine

# # Site Configuration
# NEXT_PUBLIC_CONTACT_EMAIL=contato@vitrine.co.mz
# NEXT_PUBLIC_SUPPORT_EMAIL=suporte@vitrine.co.mz
# NEXT_PUBLIC_PRIVACY_EMAIL=privacidade@vitrine.co.mz
# NEXT_PUBLIC_LEGAL_EMAIL=juridico@vitrine.co.mz
# NEXT_PUBLIC_NO_REPLY_EMAIL=noreply@vitrine.co.mz
# NEXT_PUBLIC_SITE_NAME=Vitrine
# NEXT_PUBLIC_SITE_DESCRIPTION=Marketplace completo com produtos de qualidade em todas as categorias na cidade da Beira.

# # Popup Configuration
# # NEXT_PUBLIC_ACTIVE_POPUP=NEWSLETTER
# NEXT_PUBLIC_ACTIVE_POPUP=SELLER


# Development API URL (used when running `npm run dev`)
NEXT_PUBLIC_API_BASE_URL_DEV=http://localhost:3002/api/v1

# Production API URL (used when running `npm run build` and `npm start`)
NEXT_PUBLIC_API_BASE_URL_PROD=http://192.145.237.193/api/v1

# Optional: Single URL that works for all environments
NEXT_PUBLIC_API_BASE_URL=http://192.145.237.193/api/v1

# Logo Configuration
NEXT_PUBLIC_LOGO_MAIN=/logo/Logo-txova-fundo-transparente.png
NEXT_PUBLIC_LOGO_WHITE=/logo/Logo-txova-fundo-transparente-monocromatico-branco.png
NEXT_PUBLIC_FAVICON=/logo/Favicon-logo-txova.png
NEXT_PUBLIC_BRAND_NAME=Txova

# Site Configuration
NEXT_PUBLIC_CONTACT_EMAIL=contato@txova.co.mz
NEXT_PUBLIC_SUPPORT_EMAIL=suporte@txova.co.mz
NEXT_PUBLIC_PRIVACY_EMAIL=privacidade@txova.co.mz
NEXT_PUBLIC_LEGAL_EMAIL=juridico@txova.co.mz
NEXT_PUBLIC_NO_REPLY_EMAIL=noreply@txova.co.mz
NEXT_PUBLIC_SITE_NAME=Txova
NEXT_PUBLIC_SITE_DESCRIPTION=Marketplace moçambicano de alimentos orgânicos frescos e saudáveis em Beira, Sofala.

# Popup Configuration
NEXT_PUBLIC_ACTIVE_POPUP=NEWSLETTER